<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-app Immobilier</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />


    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>



    <h1 class="bandeau">Immobilier Web-App <div align="right"><a href="{{ url_for('about')}}"> 
      <button class="btn btn btn-sm"><strong><font color="black">À propos</font> </strong></button></a>
      <a href="{{ url_for('index')}}"> <button class="btn btn btn-sm"><strong><font color="black">&nbsp;&nbsp;Home&nbsp;&nbsp;</font> </strong></button></a>&nbsp;&nbsp;&nbsp;</div></h1><br />





       <!-- layout about -->
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Notre projet Immo</h1>
          <h3>Dans le cadre de notre formation "bootcamp" en data-analyse, nous avons déployé une web-app afin d'évaluer le prix au mètre carré à Paris a partir de la base des données DVF disponible <a href='https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres/' style="color:blue">ici</a>.
          </h3>

          <p>

          </p>


        </div>
</div>
        <hr>




        <main>
          <div class="chartContainer"></div>
        </main>
  
  
  
  
  
  
        <div class="imgContainer">
        <figure>
          <img src="static/joao.png" class="trombi lighter" />
          <figcaption>
            João Macalós<br />
            <a href="#"
              ><img
                src="static/twitterj.png"
                onmouseover="this.src='static/twitterv.png'"
                width="30px"
                onmouseout="this.src='static/twitterj.png'"
                width="30px"
                onclick="this.src='static/twitterv.png'"
                width="30px"
            /></a>
            <a href="#"
              ><img
                src="static/linkedinj.png"
                onmouseover="this.src='static/linkedinv.png'"
                width="30px"
                onmouseout="this.src='static/linkedinj.png'"
                width="30px"
                onclick="this.src='static/linkedinv.png'"
                width="30px"
            /></a>
            <a href="#"
              ><img
                src="static/githubj.png"
                onmouseover="this.src='static/githubv.png'"
                width="30px"
                onmouseout="this.src='static/githubj.png'"
                width="30px"
                onclick="this.src='static/githubv.png'"
                width="30px"
            /></a>
          </figcaption>
        </figure>

        <figure>
            <img src="static/louise.png" class="trombi lighter" />
            <figcaption>
              Louise Amsellem<br />
              <a href="#"
                ><img
                  src="static/twitterj.png"
                  onmouseover="this.src='static/twitterv.png'"
                  width="30px"
                  onmouseout="this.src='static/twitterj.png'"
                  width="30px"
                  onclick="this.src='static/twitterv.png'"
                  width="30px"
              /></a>
              <a href="#"
                ><img
                  src="static/linkedinj.png"
                  onmouseover="this.src='static/linkedinv.png'"
                  width="30px"
                  onmouseout="this.src='static/linkedinj.png'"
                  width="30px"
                  onclick="this.src='static/linkedinv.png'"
                  width="30px"
              /></a>
              <a href="#"
                ><img
                  src="static/githubj.png"
                  onmouseover="this.src='static/githubv.png'"
                  width="30px"
                  onmouseout="this.src='static/githubj.png'"
                  width="30px"
                  onclick="this.src='static/githubv.png'"
                  width="30px"
              /></a>
            </figcaption>
          </figure>
  
        <figure>
          <img src="static/laure.png" class="trombi lighter" />
          <figcaption>
            Laure Agrech<br />
            <a href="#"
              ><img
                src="static/twitterj.png"
                onmouseover="this.src='static/twitterv.png'"
                width="30px"
                onmouseout="this.src='static/twitterj.png'"
                width="30px"
                onclick="this.src='static/twitterv.png'"
                width="30px"
            /></a>
            <a href="#"
              ><img
                src="static/linkedinj.png"
                onmouseover="this.src='static/linkedinv.png'"
                width="30px"
                onmouseout="this.src='static/linkedinj.png'"
                width="30px"
                onclick="this.src='static/linkedinv.png'"
                width="30px"
            /></a>
            <a href="#"
              ><img
                src="static/githubj.png"
                onmouseover="this.src='static/githubv.png'"
                width="30px"
                onmouseout="this.src='static/githubj.png'"
                width="30px"
                onclick="this.src='static/githubv.png'"
                width="30px"
            /></a>
          </figcaption>
        </figure>
  
        <figure>
          <img src="static/erwan.png" class="trombi lighter" />
          <figcaption>
            Erwan de Villechabrolle<br />
            <a href="#"
              ><img
                src="static/twitterj.png"
                onmouseover="this.src='static/twitterv.png'"
                width="30px"
                onmouseout="this.src='static/twitterj.png'"
                width="30px"
                onclick="this.src='static/twitterv.png'"
                width="30px"
            /></a>
            <a href="#"
              ><img
                src="static/linkedinj.png"
                onmouseover="this.src='static/linkedinv.png'"
                width="30px"
                onmouseout="this.src='static/linkedinj.png'"
                width="30px"
                onclick="this.src='static/linkedinv.png'"
                width="30px"
            /></a>
            <a href="#"
              ><img
                src="static/githubj.png"
                onmouseover="this.src='static/githubv.png'"
                width="30px"
                onmouseout="this.src='static/githubj.png'"
                width="30px"
                onclick="this.src='static/githubv.png'"
                width="30px"
            /></a>
          </figcaption>
        </figure>
      </div>
  
      <br />
      
      <div class="gitHub" style="position: fixed; bottom: 0; width: 100%">
        <a href="https://github.com/joaomacalos/projet-immobilier-paris" target="_blank"> Open-source code </a
        ><img src="static/githubj.png" width="30px" /> 
      </div>

  </body>
</html>
