<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-app Immobilier</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />


    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>



    <h1 class="bandeau">Immobilier Web-App <div align="right"><a href="{{ url_for('about')}}"> 
        <button class="btn btn btn-sm"><strong><font color="black">À propos</font> </strong></button> </a>
        <a href="{{ url_for('index')}}"> <button class="btn btn btn-sm"><strong><font color="black">&nbsp;&nbsp;Home&nbsp;&nbsp;</font> </strong></button></a>&nbsp;&nbsp;&nbsp;</div></h1><br />

        <h2 align="center"> {{ address }} </h2>
    
        <h2 align="center"> Prix estimé au m<sup>2</sup> : <strong>{{ message }} Euros</strong></h2>

    <p align="center"> 
      <img src="/static/output.png"/>
    </p>

    

    <div 
    class="gitHub"
    style="position: fixed; bottom: 0; width: 100%"
    >
        <a href="https://github.com/joaomacalos/projet-immobilier-paris" target="_blank"> Open-source code </a
        ><img src="static/githubj.png" width="30px" /> 
      
     </div>
    
    </body>
  </html>