<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-app Immobilier</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />


    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>



    <h1 class="bandeau">Immobilier Web-App <div align="right"><a href="{{ url_for('about')}}"> 
        <button class="btn btn btn-sm"><strong><font color="black">À propos</font> </strong></button> </a>
        <a href="{{ url_for('index')}}"> <button class="btn btn btn-sm"><strong><font color="black">&nbsp;&nbsp;Home&nbsp;&nbsp;</font> </strong></button></a>&nbsp;&nbsp;&nbsp;</div></h1><br />

        <h3 align="center"><strong>Address not found. Please try again! </strong></h3>

    <h1 style="text-align: center;">
        <img src="../static/boxer-puppy-cute-sad-face.jpg"/>
    </h1>
    <div style="padding-left: 50em; margin-bottom: 1em; border: 1px; width: 65%; text-align: center; font-size:smaller;" align="center">
        by Holly Chaffin /
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain</a> /
    <a href="https://www.publicdomainpictures.net/fr/view-image.php?image=125761&picture=boxer-puppy-sad-face-mignon">
    Photo</a>
    </div>
        
    <div 
    class="gitHub"
    style="position: fixed; bottom: 0; width: 100%"
    >
        <a href="https://github.com/joaomacalos/projet-immobilier-paris" target="_blank"> Open-source code </a
        ><img src="static/githubj.png" width="30px" /> 
      
     </div>
    
    </body>
  </html>