<div class="row gx-0">
    <div class="col" align="center"> <strong>type de logement</strong><font color="#ffe237">*</font color> <br />
      <input type="checkbox" name="pfm" value="linux" checked /> Appartement
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="checkbox"
        name="pfm"
        value="dos"
      />
      Maison &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     
      <br />  <br />
      </div>
  </div>

<!-- style="display: inline-block; width: 200px; border-radius: 10%; border-color: #21e49d" --!>

style="display: inline-block; width: 200px; border-radius: 10%; border-color: #21e49d"/ 

