<div class="imgContainer">
  <figure>
    <img src="static/louise.png" class="trombi lighter" />
    <figcaption>
      Louise<br />
      <a href="#"
        ><img
          src="static/twitterj.png"
          onmouseover="this.src='static/twitterv.png'"
          width="30px"
          onmouseout="this.src='static/twitterj.png'"
          width="30px"
          onclick="this.src='static/twitterv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/linkedinj.png"
          onmouseover="this.src='static/linkedinv.png'"
          width="30px"
          onmouseout="this.src='static/linkedinj.png'"
          width="30px"
          onclick="this.src='static/linkedinv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/githubj.png"
          onmouseover="this.src='static/githubv.png'"
          width="30px"
          onmouseout="this.src='static/githubj.png'"
          width="30px"
          onclick="this.src='static/githubv.png'"
          width="30px"
      /></a>
    </figcaption>
  </figure>

  <figure>
    <img src="static/joao.png" class="trombi lighter" />
    <figcaption>
      João<br />
      <a href="#"
        ><img
          src="static/twitterj.png"
          onmouseover="this.src='static/twitterv.png'"
          width="30px"
          onmouseout="this.src='static/twitterj.png'"
          width="30px"
          onclick="this.src='static/twitterv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/linkedinj.png"
          onmouseover="this.src='static/linkedinv.png'"
          width="30px"
          onmouseout="this.src='static/linkedinj.png'"
          width="30px"
          onclick="this.src='static/linkedinv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/githubj.png"
          onmouseover="this.src='static/githubv.png'"
          width="30px"
          onmouseout="this.src='static/githubj.png'"
          width="30px"
          onclick="this.src='static/githubv.png'"
          width="30px"
      /></a>
    </figcaption>
  </figure>

  <figure>
    <img src="static/laure.png" class="trombi lighter" />
    <figcaption>
      Laure<br />
      <a href="#"
        ><img
          src="static/twitterj.png"
          onmouseover="this.src='static/twitterv.png'"
          width="30px"
          onmouseout="this.src='static/twitterj.png'"
          width="30px"
          onclick="this.src='static/twitterv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/linkedinj.png"
          onmouseover="this.src='static/linkedinv.png'"
          width="30px"
          onmouseout="this.src='static/linkedinj.png'"
          width="30px"
          onclick="this.src='static/linkedinv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/githubj.png"
          onmouseover="this.src='static/githubv.png'"
          width="30px"
          onmouseout="this.src='static/githubj.png'"
          width="30px"
          onclick="this.src='static/githubv.png'"
          width="30px"
      /></a>
    </figcaption>
  </figure>

  <figure>
    <img src="static/erwan.png" class="trombi lighter" />
    <figcaption>
      Erwan<br />
      <a href="#"
        ><img
          src="static/twitterj.png"
          onmouseover="this.src='static/twitterv.png'"
          width="30px"
          onmouseout="this.src='static/twitterj.png'"
          width="30px"
          onclick="this.src='static/twitterv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/linkedinj.png"
          onmouseover="this.src='static/linkedinv.png'"
          width="30px"
          onmouseout="this.src='static/linkedinj.png'"
          width="30px"
          onclick="this.src='static/linkedinv.png'"
          width="30px"
      /></a>
      <a href="#"
        ><img
          src="static/githubj.png"
          onmouseover="this.src='static/githubv.png'"
          width="30px"
          onmouseout="this.src='static/githubj.png'"
          width="30px"
          onclick="this.src='static/githubv.png'"
          width="30px"
      /></a>
    </figcaption>
  </figure>
</div>
