<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-app Immobilier</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>



    <h1 class="bandeau">Immobilier Web-App <div align="right"><a href="about.html"> <button class="btn btn btn-sm"><strong><font color="white">About Us</font> </strong></button> </a><a href="index.html"> <button class="btn btn btn-sm"><strong><font color="white">&nbsp;&nbsp;Home&nbsp;&nbsp;</font> </strong></button></a>&nbsp;&nbsp;&nbsp;</div></h1><br />
<h2 class="titreapp" align="center">Estimation des prix au m<sup>2</sup></h2>
 <form method="post"
      class="mt-2"
      style="
        display: block;
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
        margin-topt: 0px;
        border: 5px solid #f5f6f7;
        border-radius: 10px;
      " align="center"
    >
<br />
    
   <i class='fas fa-map-marker-alt fa-pulse fa-spin fa-3x' style="color:#ffe237; display: inline-block;"></i><br /><br />
   <div style='width: 470px;m argin-left: auto;
        margin-right: auto;' align="center"> <div class="col-9" align="center"  > 
          <input
            type="text"
            placeholder="Adresse..."
            class="form-control border-1"
            id="locationInput" width="400px" align="center" style="
        display: inline-block"
            required 
          /><br/> 
        </div>
      </div>
    
  
      <div class="row gx-0">
      <label for = "title">
        <div class="col" align="center">
          <br />
          <strong>ville </strong><font color="#ffe237">*</font color>
          <select name="menu" placeholder="Ville">
            <option>ABLON-SUR-SEINE</option>
            <option>ALFORTVILLE</option>
            <option>ANTONY</option>
            <option>ARCUEIL</option>
            <option>ASNIERES-SUR-SEINE</option>
            <option>AUBERVILLIERS</option>
            <option>AULNAY SOUS BOIS</option>
            <option>AULNAY-SOUS-BOIS</option>
            <option>BAGNEUX</option>
            <option>BAGNOLET</option>
            <option>BOBIGNY</option>
            <option>BOIS-COLOMBES</option>
            <option>BOISSY-SAINT-LEGER</option>
            <option>BONDY</option>
            <option>BONNEUIL-SUR-MARNE</option>
            <option>BOULOGNE-BILLANCOURT</option>
            <option>BOURG-LA-REINE</option>
            <option>BRY-SUR-MARNE</option>
            <option>CACHAN</option>
            <option>CHAMPIGNY-SUR-MARNE</option>
            <option>CHARENTON-LE-PONT</option>
            <option>CHATENAY-MALABRY</option>
            <option>CHATILLON</option>
            <option>CHAVILLE</option>
            <option>CHENNEVIERES SUR MARNE</option>
            <option>CHEVILLY-LARUE</option>
            <option>CHOISY-LE-ROI</option>
            <option>CLAMART</option>
            <option>CLICHY</option>
            <option>CLICHY SOUS BOIS</option>
            <option>CLICHY-SOUS-BOIS</option>
            <option>COLOMBES</option>
            <option>COUBRON</option>
            <option>COURBEVOIE</option>
            <option>CRETEIL</option>
            <option>DRANCY</option>
            <option>DUGNY</option>
            <option>EPINAY SUR SEINE</option>
            <option>EPINAY-SUR-SEINE</option>
            <option>FONTENAY-AUX-ROSES</option>
            <option>FONTENAY-SOUS-BOIS</option>
            <option>FRESNES</option>
            <option>GAGNY</option>
            <option>GARCHES</option>
            <option>GENNEVILLIERS</option>
            <option>GENTILLY</option>
            <option>GOURNAY SUR MARNE</option>
            <option>GOURNAY-SUR-MARNE</option>
            <option>ISSY-LES-MOULINEAUX</option>
            <option>IVRY-SUR-SEINE</option>
            <option>JOINVILLE-LE-PONT</option>
            <option>L'HAY-LES-ROSES</option>
            <option>L'ILE-SAINT-DENIS</option>
            <option>LA COURNEUVE</option>
            <option>LA GARENNE-COLOMBES</option>
            <option>LA QUEUE-EN-BRIE</option>
            <option>LE BLANC-MESNIL</option>
            <option>LE BOURGET</option>
            <option>LE KREMLIN-BICETRE</option>
            <option>LE PERREUX-SUR-MARNE</option>
            <option>LE PLESSIS-ROBINSON</option>
            <option>LE PLESSIS-TREVISE</option>
            <option>LE PRE-SAINT-GERVAIS</option>
            <option>LE RAINCY</option>
            <option>LES LILAS</option>
            <option>LES PAVILLONS-SOUS-BOIS</option>
            <option>LEVALLOIS-PERRET</option>
            <option>LIMEIL-BREVANNES</option>
            <option>LIVRY-GARGAN</option>
            <option>MAISONS-ALFORT</option>
            <option>MALAKOFF</option>
            <option>MANDRES-LES-ROSES</option>
            <option>MARNES-LA-COQUETTE</option>
            <option>MAROLLES-EN-BRIE</option>
            <option>MEUDON</option>
            <option>MONTFERMEIL</option>
            <option>MONTREUIL</option>
            <option>MONTREUIL SOUS BOIS</option>
            <option>MONTROUGE</option>
            <option>NANTERRE</option>
            <option>NEUILLY-PLAISANCE</option>
            <option>NEUILLY-SUR-MARNE</option>
            <option>NEUILLY-SUR-SEINE</option>
            <option>NOGENT-SUR-MARNE</option>
            <option>NOISEAU</option>
            <option>NOISY-LE-GRAND</option>
            <option>NOISY-LE-SEC</option>
            <option>ORLY</option>
            <option>ORMESSON-SUR-MARNE</option>
            <option>PANTIN</option>
            <option>PARIS 01</option>
            <option>PARIS 02</option>
            <option>PARIS 03</option>
            <option>PARIS 04</option>
            <option>PARIS 05</option>
            <option>PARIS 06</option>
            <option>PARIS 07</option>
            <option>PARIS 08</option>
            <option>PARIS 09</option>
            <option>PARIS 10</option>
            <option>PARIS 11</option>
            <option>PARIS 12</option>
            <option>PARIS 13</option>
            <option>PARIS 14</option>
            <option>PARIS 15</option>
            <option>PARIS 16</option>
            <option>PARIS 17</option>
            <option>PARIS 18</option>
            <option>PARIS 19</option>
            <option>PARIS 20</option>
            <option>PERIGNY</option>
            <option>PIERREFITTE-SUR-SEINE</option>
            <option>PUTEAUX</option>
            <option>ROMAINVILLE</option>
            <option>ROSNY-SOUS-BOIS</option>
            <option>RUEIL-MALMAISON</option>
            <option>RUNGIS</option>
            <option>SAINT-CLOUD</option>
            <option>SAINT-DENIS</option>
            <option>SAINT-MANDE</option>
            <option>SAINT-MAUR-DES-FOSSES</option>
            <option>SAINT-OUEN</option>
            <option>SAINT-OUEN-SUR-SEINE</option>
            <option>SANTENY</option>
            <option>SCEAUX</option>
            <option>SEVRAN</option>
            <option>SEVRES</option>
            <option>ST MAURICE</option>
            <option>STAINS</option>
            <option>SUCY-EN-BRIE</option>
            <option>SURESNES</option>
            <option>THIAIS</option>
            <option>TREMBLAY-EN-FRANCE</option>
            <option>VALENTON</option>
            <option>VANVES</option>
            <option>VAUCRESSON</option>
            <option>VAUJOURS</option>
            <option>VILLE-D'AVRAY</option>
            <option>VILLECRESNES</option>
            <option>VILLEJUIF</option>
            <option>VILLEMOMBLE</option>
            <option>VILLENEUVE-LA-GARENNE</option>
            <option>VILLENEUVE-LE-ROI</option>
            <option>VILLENEUVE-SAINT-GEORGES</option>
            <option>VILLEPINTE</option>
            <option>VILLETANEUSE</option>
            <option>VILLIERS-SUR-MARNE</option>
            <option>VINCENNES</option>
            <option>VITRY-SUR-SEINE</option>
          </select>
        </div>
      </div>
      <br />


   

      <div class="row gx-0">
        <div class="col" align="center"> <strong>type de logement</strong><font color="#ffe237">*</font color> <br />
          <input type="checkbox" name="pfm" value="linux" checked /> Appartement
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="checkbox"
            name="pfm"
            value="dos"
          />
          Maison &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         
          <br />
          <strong>surface</strong><font color="#ffe237">*</font color>
          <input text="number" min="0"/> en m<sup>2</sup><br /><br />
          <strong>nombre de pièces</strong><font color="#ffe237">*</font color>&nbsp;<input type="number" min="0" />
        </div>
      </div>

      <div class="col-auto px-2" align="center">
        <br /><button type="submit" class="btn btn-block">
          <strong>submit   <i class="fas fa-search"></i></strong>
        </button>
        <br /><br />
<br/><br />
         <div class="col-auto px-2" align="center"><button class="btn btn-primary btn-sm" disabled>Python</button>&nbsp;<button class="btn btn-primary btn-sm" disabled>Flask</button>&nbsp;<button class="btn btn-primary btn-sm" disabled>Heroku</button>&nbsp;<button class="btn btn-primary btn-sm" disabled>Jupyter Notebook</button>
         <br/><br/>
         
         <button class="btn btn-primary btn-sm" disabled>HTML</button>&nbsp;<button class="btn btn-primary btn-sm" disabled>CSS</button>&nbsp;<button class="btn btn-primary btn-sm" disabled>GIT/GitHub</button> &nbsp;<button class="btn btn-primary btn-sm" disabled>Dash</button></div> <br/>

      </div>
    </form>




    <div><img src="static/map.png" class="displayed" /></div>

        <div class="imgContainer">
      <figure>
        <img src="static/louise.png" class="trombi lighter" />
        <figcaption>
          Louise<br />
          <a href="#"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>

      <figure>
        <img src="static/joao.png" class="trombi lighter" />
        <figcaption>
          João<br />
          <a href="#"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>

      <figure>
        <img src="static/laure.png" class="trombi lighter" />
        <figcaption>
          Laure<br />
          <a href="#"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>

      <figure>
        <img src="static/erwan.png" class="trombi lighter" />
        <figcaption>
          Erwan<br />
          <a href="#"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="#"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>
    </div>

    <br />
    
    <div class="gitHub">
      <a href="http://www.google.fr" target="_blank"> Open-source code </a
      ><img src="static/githubj.png" width="30px" /> 
     



    </div>
  </body>
</html>
